@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* box-shadow: 0 0 8px 3px #4484c4; */
body {
  font-family: "montserrat", sans-serif;
  background: linear-gradient(to right, #000428, #004e92);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background-color: rgb(238, 238, 238);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 50px;
}
h1 {
  color: #000428;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.stop-watch {
  width: 450px;
  height: 600px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: #0d0c1b;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
}
.counter {
  font-size: 40px;
  letter-spacing: 3px;
}
.start,
button {
  background-color: transparent;
  color: white;
  font-weight: 500;
  border: 1px solid red;
  padding: 7px 50px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}
.start:before,
.start:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.432);
  animation: start 1s ease-in-out infinite;
  z-index: -1;
}
.start:before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.start::after {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@keyframes start {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
button:hover {
  scale: 1.05;
}
.btn-flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.pause {
  background-color: red;
}
